.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  padding: 16px;
  width: calc(100% - 32px);
  height: 40px;
  background-color: black;
  color: #ffffff;
  z-index: 1;

  a {
    color: #ffffff;
  }

  &_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
  }
}