.Dashboard {
  margin-top: 72px;

  &__filter {
    margin-bottom: 16px;
  }

  &__add-button {
    button {
      margin: 0 0 16px 0 !important;
    }
  }
}

.AddNewMonth {
  background-color: black;
  border-radius: 3px;
  margin-bottom: 16px;

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__button {
    background-color: white !important;
    color: black !important;
  }
}

.AddNewItem {
  &__inputs {
    display: flex;
  }
}