@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body,
#root {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  input,
  button {
    outline: none;
  }
}
